{% extends 'generator/main.html' %}

{% block content %}

<div class="container">
    <div class="row my-5">
        <div class="col-md-12 d-flex justify-content-center">
            <h1>About this project</h1>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-12 d-flex justify-content-center">
            <p>This password generator is created by <span><b>Nguyen Gia Huy</b></span></p>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-12 d-flex justify-content-center">
            <a href="{% url 'home' %}" class="btn btn-lg btn-success">Back</a>
        </div>
    </div>
</div>

{% endblock content %}